<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://wa.me/qr/ZXMJJ5P2UNKXP1" target="_blank" class="fa-brands fa-whatsapp"></a>
            <a href="https://www.instagram.com/_mr_reddy.____?utm_source=qr&igsh=MzNlNGNkZWQ4Mg==" target="_blank" class="fa-brands fa-instagram"></a>
            <a href="https://www.linkedin.com/in/jeeru-nithin-reddy-80586622b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"  class="fa-brands fa-linkedin"></a>
            <a href="mailto:jeerunithinreddy3012@gmail.com" target="_blank" class="fa-regular fa-envelope"></a>

        </div>
        <div class="f-info-brand">&copy; JEERU NITHIN REDDY</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        
    </div>
</footer>
